{% extends 'lists/base.html' %}
{% block title %}
Index
{% endblock %}

{% block body %}
<a href="{% url 'logout' %}">Log out</a>

<h1> Welcome {{ user.first_name }} {{ user.last_name }}! </h1>

What do you want to do?
<p></p>
<ul>
    <li><a href="{% url 'user' user.id %}">Watch your wishlist</a> </li>
    <li><a href="{% url 'add' user.id %}">Add an item to your wishlist</a> </li>
</ul>


<ol>
    {% for list in wlists %}
    <li> <a href="{{ list.link }}" target=”_blank”> {{ list }} </a>
    <ol>
    <li> Price: {{ list.price }} </li>
    <li> Note: {{ list.note }} </li>
          </ol>
    </li>

    {% endfor %}
</ol>

{% endblock %}