{% extends 'lists/base.html' %}
{% block title %}
Wishlist of {{ user }}
{% endblock %}

{% block body %}

<ul>
    <li><a href="{% url 'logout' %}">Log out</a></li>
    <li><a href="{% url 'add' user.id %}">Add an item to your wishlist</a> </li>

</ul>

<h1> Wishlist of {{ user.first_name }} {{ user.last_name }}</h1>
User_id is {{ user.id }}
<ul>
    {% for list in wishlist %}
    <li> <a href="{{ list.link }}" target=”_blank”> {{ list }} </a>
    <ol>
    <li> Price: {{ list.price }} </li>
    <li> Note: {{ list.note }} </li>
          </ol>
    </li>

    {% endfor %}
</ul>

<h3>Delete an item from your wishlist:</h3>
<form action="{% url 'delete' user.id %}" method="post">
    {% csrf_token %}
    <select name="item">
        {% for item in wishlist %}
        <option value="{{ item.id }}">{{ item }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Delete from wishlist">
</form>

<h3>Edit an item from your wishlist:</h3>
<form action="{% url 'edit' user.id %}" method="post">
    {% csrf_token %}
    <select name="item">
        {% for item in wishlist %}
        <option value="{{ item.id }}">{{ item }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Edit this item">
</form>

{% endblock %}