{% extends 'lists/base.html' %}
{% block title %}
Wishlist of {{ user }}
{% endblock %}

{% block body %}

<ul>
    <li><a href="{% url 'logout' %}">Log out</a></li>
    <li><a href="{% url 'add' user.id %}">Add an item to your wishlist</a> </li>

</ul>

<h1> Wishlist of {{ user.first_name }} {{ user.last_name }}</h1>
<ul>
    {% for list in wishlist %}
    <li> <a href="{{ list.link }}" target=”_blank”> {{ list }} </a>
    <ol>
    <li> Price: {{ list.price }} </li>
    <li> Note: {{ list.note }} </li>
          </ol>
    </li>

    {% endfor %}
</ul>
{% endblock %}